@charset "utf-8";
body{
    font-size: 20px;
    font-family: serif;
    background-color: #f0f8ff;
}
h1{
    text-align: center;
    background-color: #e6e6fa;
    color: #4650b4;
    font-size: 50px;
    font-family: "Hiragino Kaku Gothic ProN";
}
h2{
    color: #8da0b6;
    font-size: 40px;
    font-family: "Hiragino Kaku Gothic ProN";
    line-height: 1em;
    text-align: justify;
}

h3{
    color: #00ced1;
    font-size: 30px;
    font-family: "Hiragino Kaku Gothic ProN";
    line-height: 1em;
    text-align: justify;
}
h4{
    color: #4682b4;
    font-size: 20px;
    font-family: "Hiragino Kaku Gothic ProN";
    line-height: 1em;
    text-align: justify;
}
#komoji{
    font-size: 15px;
}
ul{
    list-style: circle;
}
ul>.second{
   list-style: disc; 
    color: #4682b4;
}
ul>.second>.second-in{
    list-style:square;
    color: #000000;
}
a:hover{
    font-size: 30px;
}
a:link{
    color: #4682b4;
}
a:visited{
    color: #696969;
}

tr:nth-child(odd){
    background-color: #d2b48c;
}
tr:nth-child(even){
    background-color: #fffacd;
}
.hiru{
    width: 50%;
    float: left;
    height: 500px; 
}
.yoru{
    margin-left: 50;
    width: 50%;
    float: right;
    height: 500px;
}
#komoji2{
    font-size: 15px;
    width: 50%;
    float: left;
    
}
#komoji3{
    font-size: 15px;
    width: 50%;
    float: left;
}

